@import './_variables.css';
@import './button/_button.css';
@import './input/_input.css';
@import './dropdown/_dropdown.css';
@import './checkbox/_checkbox.css';

:root {
  color-scheme: light;
}

body {
  font: var(--text-md-regular);
  background: var(--gray-25);
  color: var(--gray-900);
  margin: 0;
  padding: var(--num-6);
}

.component-demo {
  display: grid;
  gap: var(--num-6);
}

.component-demo__group {
  display: flex;
  flex-direction: column;
  gap: var(--num-3);
  padding: var(--num-4);
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-gray-sm);
}

@media (max-width: 600px) {
  body {
    padding: var(--num-3);
  }
}
