@import './colors.css';
@import './spacing.css';
@import './typography.css';

:root {
  /* Shadows - Gray */
  --shadow-gray-xs: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
  --shadow-gray-sm: 0px 1px 2px 0px rgba(10, 13, 18, 0.06), 0px 1px 3px 0px rgba(10, 13, 18, 0.1);
  --shadow-gray-md: 0px 2px 4px -2px rgba(10, 13, 18, 0.06), 0px 4px 8px -2px rgba(10, 13, 18, 0.1);
  --shadow-gray-lg: 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 12px 32px -4px rgba(10, 13, 18, 0.08);
  --shadow-gray-xl: 0px 8px 8px -4px rgba(10, 13, 18, 0.03), 0px 20px 24px -4px rgba(10, 13, 18, 0.08);
  --shadow-gray-2xl: 0px 24px 48px -12px rgba(10, 13, 18, 0.18);
  --shadow-gray-3xl: 0px 32px 64px -12px rgba(10, 13, 18, 0.14);

  /* Shadows - Light Blue */
  --shadow-light-blue-xs: 0px 1px 2px 0px rgba(76, 154, 253, 0.05);
  --shadow-light-blue-sm: 0px 1px 2px 0px rgba(76, 154, 253, 0.06), 0px 1px 3px 0px rgba(76, 154, 253, 0.1);
  --shadow-light-blue-md: 0px 2px 4px -2px rgba(76, 154, 253, 0.06), 0px 4px 8px -2px rgba(76, 154, 253, 0.1);
  --shadow-light-blue-lg: 0px 4px 6px -2px rgba(76, 154, 253, 0.03), 0px 12px 16px -4px rgba(76, 154, 253, 0.08);
  --shadow-light-blue-xl: 0px 8px 8px -4px rgba(10, 13, 18, 0.03), 0px 20px 24px -4px rgba(76, 154, 253, 0.08);
  --shadow-light-blue-2xl: 0px 24px 48px -12px rgba(76, 154, 253, 0.18);
  --shadow-light-blue-3xl: 0px 32px 64px -12px rgba(76, 154, 253, 0.14);

  /* Shadows - Dark Blue */
  --shadow-dark-blue-xs: 0px 1px 2px 0px rgba(45, 101, 173, 0.05);
  --shadow-dark-blue-sm: 0px 1px 2px 0px rgba(45, 101, 173, 0.06), 0px 1px 3px 0px rgba(45, 101, 173, 0.1);
  --shadow-dark-blue-md: 0px 2px 4px -2px rgba(76, 154, 253, 0.06), 0px 4px 8px -2px rgba(45, 101, 173, 0.1);
  --shadow-dark-blue-lg: 0px 4px 6px -2px rgba(45, 101, 173, 0.03), 0px 12px 16px -4px rgba(45, 101, 173, 0.08);
  --shadow-dark-blue-2xl: 0px 24px 48px -12px rgba(45, 101, 173, 0.18);
  --shadow-dark-blue-3xl: 0px 32px 64px -12px rgba(45, 101, 173, 0.14);

  /* Focus rings */
  --focus-ring-primary-100: 0px 0px 0px 4px rgba(215, 235, 253, 1);
  --focus-ring-gray-100: 0px 0px 0px 4px rgba(245, 245, 245, 1);
  --focus-ring-error-100: 0px 0px 0px 4px rgba(254, 228, 226, 1);
  --shadow-combined-xs-focus-primary-100: 0px 1px 2px 0px rgba(10, 13, 18, 0.05), 0px 0px 0px 4px rgba(215, 235, 253, 1);
}
